<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="normalize.css">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<section class="loginform">
		<form name="login" method="get" accept-charset="utf-8">


                <br>
					<label for="usermail">Email Id</label>
					<input type="text" name="usermail" id="usermail" placeholder="yourname@email.com" required>
				</br>

                <br>
					<label for="password">Password</label>
					<input type="text" name="password" id="password" placeholder="alphanumeric password" required>
                </br>

                <br>
					<input type="submit" id="signin" value="Sign in">
				</br>

                <br>
					<a id = "forgotyourpassword" href="Forgot_password.asp">Forgot your password? Click here</a>
				</br>
		</form>
	</section>
</body>
</html>