<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="normalize.css">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<section class="loginform cf">
		<form name="login" action="index_submit" method="get" accept-charset="utf-8">

                <li>
					<label for="usermail">Email Id</label>
					<input type="email" name="usermail" placeholder="yourname@email.com" required>
				</li></br>

                <li>
					<label for="password">Password</label>
					<input type="password" name="password" placeholder="alphanumeric password" required>
                </li></br>

                <li>
					<input type="submit" value="Sign in">
                    <label for="forgotyourpassword">Forgot you password? Click here</label>
				</li></br>

		</form>
	</section>
</body>
</html>