<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="normalize.css">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<section class="loginform cf">
		<form name="login" action="index_submit" method="get" accept-charset="utf-8">
                <b><label    for="gender">Spot a Sport</label></b><br>
                </br>
                <label for="userprofile">User Profile</label><br>
                </br>
                <li>
					<label for="firstname">First Name</label>
					<input type="firstname" name="firstname" required>
                </li></br>

                <li>
					<label for="lastname">Last Name</label>
					<input type="lastname" name="lastname" required>
                </li></br>

                <label for="gender">Gender</label><br>
                <input type="radio" name="sex" value="male">Male<br>
                <input type="radio" name="sex" value="female">Female</br>
                <input type="radio" name="sex" value="other">Other</br>
                </br>
                <label for="selecttypeofsport">Select type of sports you play</label><br>
                <select name="sports">
                <option value="badminton">Badminton</option>
                <option value="ping pong">Ping Pong</option>
                <option value="hockey">Hockey</option>
                <option value="cricket">Cricket</option>
                <option value="football">Football</option>
                <option value="soccer">Soccer</option>
                <option value="tennis">Tennis</option>
                </select></br>
                </br>

                <label for="address">Address</label><br>
                <textarea name="myTextBox" cols="50" rows="5">
                Type your address here
                </textarea></br>
                </br>
                <li>
					<label for="usermail">Email</label>
					<input type="email" name="usermail" placeholder="yourname@email.com" required>
				</li></br>

                <li>
					<label for="password">Password</label>
					<input type="password" name="password" placeholder="alphanumeric password" required>
                </li></br>

                <li>
					<input type="submit" value="Sign up">
				</li></br>

		</form>
	</section>
</body>
</html>